//PARTE DEL ESTILO DEL FORMULARIO

$form-bg: #ffffff;
$error-color: #EF0002;
$default-btn-color: #1A1A1A;
$disable-btn-color: #767676;
$hover-btn-color: #595959;


body {
    background-color: #E5E5E5;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: $form-bg;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; //cambiar si hace falta 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        font-weight: 500;
        size: 46px;
        color: #595959;
    }
    label {
        margin-bottom: 0.5rem;
        display: block;
        text-align: left;
        color: #767676;
        font-size: small;
        margin-left: -30px;
    }

    .input-wrap {
        position: relative;
        margin-bottom: 1rem;
        width: 100%;
    
        input, textarea {
            width: 130%;
            padding: 0.75rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;
            box-sizing: border-box;
            margin-left: -30px;

            &::placeholder{
                font-size: 0.75rem;
                color: #d1cccc;
            }
        }
        .error-message {
            color: $error-color;
            font-size: 0.85rem;
            margin-top: 0.25rem;
        }
    }
    button {
        width: 130%;
        height: 50px;
        margin-left: -30px;
        background-color: $default-btn-color;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: medium;

        &:hover {
            background-color: $disable-btn-color;
            
            &:active {
                background-color: $hover-btn-color;
            }
        }
    }
}

@media (max-width: 600px) {
    .form-container {
        padding: 1.5rem;
        max-width: 90%;
    }

    h1 {
        font-size: 1.5rem;
    }

    input, textarea {
        font-size: 0.95rem;
        padding: 0.65rem;
    }

    button{
        padding: 0.8rem;
    }
}


// PARTE DE ESTILO DE LA INFO CARD

.info-card {
    // display: none;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px;
    text-align: left;

     h1 {
        text-align: center;
        color: #595959;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    p{
       font-size: 1rem;
       color: #767676;
       margin: 0.5rem 0; 
    }
}

// .hidden {
//     display: none;
// }

.info-card.show {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        padding: 1;
    }
}